<% content_for(:header) do %>
  <%= javascript_include_tag 'https://d3js.org/d3.v3.min.js' %>
<% end %>

<div class="page-header">
  <span class="glyphicon glyphicon-envelope"></span>
  <strong>Bounce Mails</strong>
</div>

<%= render 'search_form' %>
