<div class="page-header">
  <strong>New Whitelist Mail</strong>
</div>

<%= render 'form', whitelist_mail: @whitelist_mail %>

<section>
  <div class="col-md-12">
    <%= link_to whitelist_mails_path do %>
      <span class="glyphicon glyphicon-chevron-left"></span>
      Back
    <% end %>
  </div>
</section>
